@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-size: 1rem;
}
* {
  box-sizing: border-box;
}
a {
  cursor: pointer;
  text-decoration: none !important;
  border-bottom: none;
}
